#T1{  /*標題樣式*/
    color:white;
    font-size:50px;
    position:absolute; 
    top:20%;
    left:50%; 
    transform:translate(-50%,-50%);
    border-radius:50px;
    padding:6px;
}
#div1{  /*圖片的位置設定*/
    position:absolute;
    text-align:center;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
}
.image{  /*圖片大小*/
    width:110px;
}