#T1 {  /*標題樣式*/
    color: white;
    font-size: 50px;
    position:absolute; 
    top:15%;
    left:50%; 
    transform:translate(-50%,-50%);
    border-radius:50px;
    padding: 6px;
}
#div1{  /*白色背景的樣式*/
    background-color: white;
    opacity: 0.9;
    width: 500px;
    height: 500px;
    position:absolute; 
    top:60%;
    left:50%; 
    transform:translate(-50%,-50%);
    border-radius:50px;
}
#div2{  /*白色背景上的東西的樣式*/
    color: white;
    font-size: 50px;
    position:absolute; 
    top:35%;
    left:50%; 
    transform:translate(-50%,-50%);
    border-radius:50px;
    padding: 6px;
}
#label{  /*欄位標題*/
    font-size: 30px;
    color: black;
}
#b3{  /*按鈕樣式*/
    background-color:white;
    border-radius:50px;
    cursor: grab;
}
#test1{  /*把隱藏的狀態顯示出來*/
    color: black;
    max-width: 450px;
    z-index: 99;
    font-size: 25px;
    position:absolute; 
    top:65%;
    left:50%; 
    transform:translate(-50%,-50%);
}
#test2{  /*把隱藏的狀態顯示出來*/
    color: black;
    max-width: 450px;
    z-index: 99;
    font-size: 20px;
    position:absolute; 
    top:65%;
    left:50%; 
    transform:translate(-50%,-50%);
}
#div3{  /*BMI計算的表單樣式*/
    font-size: 30px;
    position:absolute; 
    top:38%;
    left:50%; 
    transform:translate(-50%,-50%);
    border-radius:50px;
    padding: 6px;
}  
#div3 button{  /*表單裡的按鈕*/
    position:absolute; 
    top:120%;
    left:93%; 
    transform:translate(-50%,-50%);
    border-radius:50px;
    padding: 6px;
    cursor: grab;
}
#BMI{  /*BMI值的樣式*/
    position:absolute; 
    top:130%;
    left:50%; 
    transform:translate(-50%,-50%);
    max-width: 450px;
}
#Introduce{  /*BMI內容建議的樣式*/
    position:absolute; 
    top:270%;
    left:50%; 
    transform:translate(-50%,-50%);
    max-width: 450px;
}
#div4{  /*判斷星座日期表單的樣式*/
    color: black;
    max-width: 450px;
    z-index: 99;
    font-size: 20px;
    position:absolute; 
    top:60%;
    left:50%; 
    transform:translate(-50%,-50%);
}
#div4 form {  /*表單之間距離拉大*/
    margin-bottom: 100px;
}
#b4{  /*表單按鈕*/
    width: 50%;
    height: 10%;
    position:absolute; 
    top:95%;
    left:50%; 
    transform:translate(-50%,-50%);
    border-radius:50px;
    cursor: grab;
}
#div5 , #div6{  /*必須先隱藏的div*/
    display: none;
    font-size: 20px;
    position:absolute; 
    top:60%;
    left:50%; 
    transform:translate(-50%,-50%);
    text-align: center;
}
#div5 button{  /*服務項目按鈕的排列方式(直)*/
    display: grid;
}
.bu {  /*服務項目按鈕的樣式*/
    font-size: 26px;
    padding: 20px 20px;
    margin: 20px;
    border-radius:50px;
    cursor: grab;
}